# Database backup
MAILTO=""
{% if telegraf_output_influxdb %}
INFLUX_MEASUREMENT=events
INFLUX_DB=metrics
INFLUX_URL={{ telegraf_output_influxdb.urls.0 }}
INFLUX_TAGS="customer=saas,env={{ clevehr_env }},type=backup"
INFLUX_USER="{{ telegraf_output_influxdb.username }}"
INFLUX_PASS="{{ telegraf_output_influxdb.password }}"
{{ mariadb_backup_cron_time }} root /usr/local/bin/influxevent /usr/local/bin/database_backup -timeout 7200 -period 1000 > /var/log/dbbackup.log
{% else %}
{{ mariadb_backup_cron_time }} root /usr/local/bin/database_backup -timeout 7200 -period 1000 > /var/log/dbbackup.log
{% endif %}