# Database backup
MAILTO=""
{% if telegraf_output_influxdb %}
INFLUX_MEASUREMENT=events
INFLUX_DB={{ telegraf_output_influxdb.database | default("metrics") }}
INFLUX_URL={{ telegraf_output_influxdb.urls.0 }}
INFLUX_TAGS="{{ mariadb_influx_tags.items()|map("join", "=")|join(",") }}"
INFLUX_USER="{{ telegraf_output_influxdb.username }}"
INFLUX_PASS="{{ telegraf_output_influxdb.password }}"
{# Requires influxevent > v0.14.5 #}
{{ mariadb_backup_cron_time }} root /usr/local/bin/influxevent -timeout 7200 -period 1000 -lock_file /tmp/dbbackup.lock -- /usr/local/bin/database_backup > /var/log/dbbackup.log 2>&1
{% else %}
{{ mariadb_backup_cron_time }} root /usr/local/bin/database_backup -timeout 7200 -period 1000 -lock_file /tmp/dbbackup.lock > /var/log/dbbackup.log 2>&1
{% endif %}