{% import 'variables.inc' as var with context %}

# Allow access to clients
protocol tcp dport {{ mariadb_port }} {
  @def $ITEMS = ( @ipfilter( ( {{ var.mysql_allow | unique | join(" ") }} ) ) );
  saddr $ITEMS ACCEPT;
}

# Allow access to replica
protocol tcp dport {{ mariadb_port }} {
  @def $ITEMS = ( @ipfilter( ( {{ var.replica_list | unique | join(" ") }} ) ) );
  saddr $ITEMS ACCEPT;
}
